.layout {
  display: flex;
  height: 100vh;
  height: 100dvh;
 
  .children {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    background-color: #f9feff;
    flex-basis: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media (width < 950px) {
  .layout {
    flex-direction: column-reverse;
  }
}
